@model MvcProject.Models.CursoModel

@{
    ViewData["Title"] = "Detalhes do Curso";
}

<div >
	<h2>Curso de @Model.Nome de @ViewData["Inicio"]</h2>

	<div class="row">
		<div class="col-md-6">
			<label>Descrição: </label>
			<p>@Model.Descricao</p>
			<label>Carga Horária: </label>
			<p>@Model.CargaHoraria</p>
			<label>Data de Início: </label>
			<p>@Html.DisplayFor(date => @Model.DataInicio)<p>

		</div>
		<div class="col-md-6">
			<iframe width="100%" height="300px" src="@Model.CaminhoVideo" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div>
		<label>Dias da Semana:</label>
		<table class="table table-responsive" id="formato-tabela">
			<thead>
				<tr>
					<th>Domingo</th>
					<th>Segunda</th>
					<th>Terça</th>
					<th>Quarta</th>
					<th>Quinta</th>
					<th>Sexta</th>
					<th>Sábado</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@ViewData["Domingo"]</td>
					<td>@ViewData["Segunda"]</td>
					<td>@ViewData["Terca"]</td>
					<td>@ViewData["Quarta"]</td>
					<td>@ViewData["Quinta"]</td>
					<td>@ViewData["Sexta"]</td>
					<td>@ViewData["Sabado"]</td>
				</tr>
			</tbody>
		</table>
	</div>

	<a href="/curso/index"><button type="button" class="btn btn-warning">Retornar</button></a>
	<a href="/curso/inscrever/@Model.Id"><button type="button" class="btn btn-success" >Inscrição</button></a>

</div>

