@model MvcProject.Models.CursoModel

@{
    ViewData["Title"] = "Detalhes do Curso";
}

<div >
	<h2>Detalhes do Curso de @Model.Nome</h2>

	<div class="row">
		<div class="col-md-6">
			<label>Descrição: </label>
			<p>@Model.Descricao</p>
			<label>Carga Horária: </label>
			<p>@Model.CargaHoraria</p>
			<label>Data de Início: </label>
			<p>@Html.DisplayFor(date => @Model.DataInicio)<p>

		</div>
		<div class="col-md-6">
			<iframe width="100%" height="300px" src="@Model.CaminhoVideo" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div>
		<label>Dias da Semana:</label>
		<table class="table table-responsive" id="formato-tabela">
			<thead>
				<tr>
					<th>Domingo</th>
					<th>Segunda</th>
					<th>Terça</th>
					<th>Quarta</th>
					<th>Quinta</th>
					<th>Sexta</th>
					<th>Sábado</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Teste</td>
					<td>Doe</td>
					<td>joSS</td>
					<td>Teste</td>
					<td>Doe</td>
					<td>Teste</td>
					<td>Doe</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#form-modal" >Inscrever</button>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
		<h4 class="modal-title">Título da mensagem</h4>
      </div>
      <div class="modal-body">
        @using (Html.BeginForm()) {
		}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="botao-fechar">Fechar</button>
        <button type="button" class="btn btn-primary" id="botao-salvar">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div>

