@model IEnumerable<MvcProject.Models.CursoModel>

@{
    ViewData["Title"] = "Cursos";
}


<h1>Tabela de Cursos</h1>
<table>
	<tr>
		<th>Id</th>
		<th>Nome</th>
		<th>Carga Horaria</th>
		<th>Caminho Imagem</th>
		<th>Caminho Vídeo</th>
		<th>Data Início</th>
		<th>Detalhes</th>
	</tr>
	@foreach(var curso in Model) {
		<tr>
			<td>@curso.Id</td>
			<td>@curso.Nome</td>
			<td>@curso.CargaHoraria</td>
			<td>@curso.CaminhoImagem</td>
			<td>@curso.CaminhoVideo</td>
			<td>@Html.DisplayFor(cursoItem => curso.DataInicio)</td>
			<td>@Html.ActionLink("Detalhes", "Detalhe", new { id = @curso.Id })</td>
		</tr>
	}

</table>
<div class="row">
<div class="col-md-4">
	<div class="intro-table intro-table-hover">
		<h5 class="white heading hide-hover">Premium Membership</h5>
		<div class="bottom">
			<h4 class="white heading small-heading no-margin regular">Register Today</h4>
			<h4 class="white heading small-pt">20% Discount</h4>
			<a href="#" class="btn btn-white-fill expand">Register</a>
		</div>
	</div>
</div>
</div>
<!-- <iframe width="853" height="480" src="https://youtube.com/embed/u548qyxRTBU" frameborder="0" allowfullscreen></iframe> -->