@model IEnumerable<MvcProject.Models.CursoModel>

@{
    ViewData["Title"] = "Cursos";
}


<h1>Cursos Disponíveis</h1>

<!--
<table>
	<tr>
		<th>Id</th>
		<th>Nome</th>
		<th>Carga Horaria</th>
		<th>Caminho Imagem</th>
		<th>Caminho Vídeo</th>
		<th>Data Início</th>
		<th>Detalhes</th>
	</tr>
	@foreach(var curso in Model) {
		<tr>
			<td>@curso.Id</td>
			<td>@curso.Nome</td>
			<td>@curso.CargaHoraria</td>
			<td>@curso.CaminhoImagem</td>
			<td>@curso.CaminhoVideo</td>
			<td>@Html.DisplayFor(cursoItem => curso.DataInicio)</td>
			<td>@Html.ActionLink("Detalhes", "Detalhe", new { id = @curso.Id })</td>
			<td><a href="/curso/detalhe/@curso.Id">teste</a></td>
		</tr>
	}
</table>
-->
<div class="row">
	@foreach(var curso in Model)
	{
		<div class="col-md-4 curso-box">
			<h4>@curso.Nome</h4>
			<img class = "imagem-curso" src="@curso.CaminhoImagem"/>
			<div class="col-md-12 botoes-cursos">
				<a href="/curso/detalhe/@curso.Id"><button type="button" class="btn btn-light">Detalhes</button></a>
				<a href="/curso/inscrever/@curso.Id"><button type="button" class="btn btn-info">Inscrição</button></a>
			</div>
		</div>
	}
</div>

