@model MvcProject.ViewModels.AlunoCursoVM

@{
    ViewData["Title"] = "Realizar Inscrição";
}

@if (ViewData["Message"] != null)
{
	<script>
		alert('@ViewData["Message"]');
	</script>
}

<h2>@Model.NomeCurso</h2>

<div class="row">

	@using (Html.BeginForm("Inscrever", "Curso", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{

		<div class="col-md-4">

			@Html.HiddenFor(m => m.IdCurso)

			<div class="form-group">
				@Html.LabelFor(m => m.NomeAluno)
				@Html.TextBoxFor(m => m.NomeAluno, new { @class = "form-control"})
				<span class="help-block">
					@Html.ValidationMessageFor(m => m.NomeAluno)
				</span>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.EmailAluno)
				@Html.TextBoxFor(m => m.EmailAluno, new { @class = "form-control" } )
				<span class="help-block">
					@Html.ValidationMessageFor(m => m.EmailAluno)
				</span>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.DataNascimentoAluno)
				@Html.TextBoxFor(m => m.DataNascimentoAluno, new { @class = "form-control", maxlength = 10 })
				<span class="help-block">
					@Html.ValidationMessageFor(m => m.DataNascimentoAluno)
				</span>
			</div>

			<button type="submit" class="btn btn-primary">Confirmar</button>

			<a href="/curso/index" style="float: right"><button type="button" class="btn btn-danger" >Cancelar</button></a>

		</div>
	}

</div>

